.game-pokemons-proposition {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.game-pokemons-proposition .active {
  cursor: var(--cursor-hover);
  pointer-events: initial;
}

.game-pokemons-proposition > .my-container > h2,
.game-pokemons-proposition > .my-container > p {
  color: white;
  text-align: center;
}

.game-pokemons-proposition-list {
  display: flex;
  padding: 10px;
  gap: 1vw;
  justify-content: center;
}

.game-pokemons-proposition-refresh {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 0.25em;
}

.game-pokemons-proposition-refresh .refresh-button {
  font-size: 1em;
  white-space: nowrap;
  padding: 0.25em 0.5em;
  min-height: 2.5em;
  position: relative;
  pointer-events: initial;
}

.game-pokemons-proposition-refresh .refresh-button > img:first-child {
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
}

.game-pokemons-proposition .show-hide-action {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.game-pokemons-proposition-list > .my-box {
  padding: 5px;
}

.game-pokemons-proposition-list > .my-box:hover {
  cursor: var(--cursor-hover);
  background-color: var(--color-bg-accent);
}

.game-pokemons-proposition-list .game-pokemon-portrait {
  margin: 0 auto;
}

.game-pokemons-proposition .additional-pick-item {
  color: white;
  text-align: center;
}

.game-pokemons-proposition .additional-pick-item p {
  font-size: 80%;
  max-width: 240px;
}
